
@font-face {
    font-family: AirstreamNF;
    src: url('fonts/AirstreamNF.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: AirstreamNF;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}